user             = "engineer@example.com"
proxy_address    = "teleport.example.com"
teleport_version = "18.6.4"
region           = "us-east-2"
env              = "dev"
team             = "platform"
instance_type    = "t3.small"
