user             = "engineer@example.com"
proxy_address    = "teleport.example.com"
teleport_version = "18.0.0"
region           = "us-east-2"
env           = "dev"
team          = "platform"
agent_count   = 3
instance_type = "t3.micro"
